footer{
    background-color: #1d1d1d;
    background-size: cover;
    padding:25px 0 20px 0 ;
    text-align: center;    
}
.imgfoot{
    display: inline-block;
}

.div-p{
    color: #fff;
    font-size: 15px;    
}
