*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: monospace;

}

body{
    width: auto;
    background-image: url(../img/eea.jpg);
    background-size: cover;
    background-position: center;
    
}